{% extends 'base.html.twig' %}
    {% block title %}Sign up{% endblock %}
{% block body %}
    <h2>Registration</h2>

    <div class="form" class="form-horizontal">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>
        </div>
        {{ form(form) }}
    </div>
{% endblock %}