<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>My Blog!</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% include 'nav_bar.html.twig' %}
{% endblock %}
{% block body '' %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
