{% extends 'base.html.twig' %}
{% block body %}
    <h1>Forgot password</h1>
    <p>Put email to change your password</p>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit">Send</button>
    {{ form_end(form) }}
{% endblock %}